.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
  
  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  
  .content {
    display: flex;
    flex: 1;
    margin-top: 60px; /* Adjust based on the height of your Navbar */
  }
  
  .sidebar {
    width: 240px; /* Adjust based on your Sidebar width */
    flex-shrink: 0;
  }
  
  .main-content {
    flex: 1;
    padding: 16px;
    margin-left: 240px; /* Adjust based on your Sidebar width */
  }